/*  your css code here. If applicable */
:root{
	background-color: rgb(135, 206, 235);
}

p:first-child {
    color: white;
    background-color: black;
}

p:nth-child(2) {
    color: initial; 
}

p:last-child {
    color: red;
}

li {
	background-color:grey;
	width:50%;
	padding:10px;
}
/* odd items */
li:nth-child(odd) {
	background-color:white;
}
/* first and last item font size */
li:first-child,
li:last-child {
font-size:22px;	
}
/* third to last item pink background */
li:nth-last-child(3) {
	background-color:pink;
}
	
